<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!-- 定义mapper接口路径 -->
<mapper namespace="com.login.tmall.dao.ProductImageMapper">
    <!--id的值保证Mapper接口的方法名一值-->


    <select id="getSingleProductImageList" resultType="productImage">
        select * from productimage where productimage_product_id = #{product_id} and productimage_type = 0;
    </select>

    <select id="getProductImageList" resultType="productImage">
        select * from productimage
        <where>
            <if test="product_id != null">
             and productimage_product_id = #{product_id}
            </if>
        </where>
        <if test="product_image_type != null">
            and productImage_type = #{product_image_type}
        </if>

    </select>

</mapper>